.navbar{
    margin-bottom: 0px;
	background-color:#337ab7 !important;
}
.jumbotron {
	padding-top: 5px !important;
	padding-bottom:  5px !important;
}
#bannerImage{
    padding-top:75px;
    padding-bottom:50px;
    margin-bottom: 20px;
    text-align:center;
    color:#f8f8f8;
    background:url(../img/intro-bg_1.jpg);
    background-size:cover;
}

#bannerContent{
    position:relative;
	padding-left:100px;
    padding-top:6%;
    padding-bottom:6%;
    margin-top:18%;
    margin-bottom:12%;
    margin-left:700px;
    max-width:660px;
}

footer{
    background-color:#337ab7;
    color:#9d9d9d;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    bottom:0;
}

html { 
    min-height:100%;
    position:relative;    
} 

.footer { 
    position: absolute; 
    bottom:0; 
    right:0;
    left:0;
}

@media (min-width:320px){
    #autoResize{
        font-size:12px;
    }
}
@media (min-width:481px){
    #autoResize{
        font-size:16px;
    }
}
@media (min-width:641px){
    #autoResize{
        font-size:18px;
    }
}
@media (min-width:961px){
    #autoResize{
        font-size:20px;
    }
}
@media (min-width:1000px){
    #autoResize{
        font-size:26px;
    }
}